$bg-color: #ffffff;
$blue: #2196f3;
$gray: #a0b0b9;

.ticket {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 68px 39px 39px;
  row-gap: 10px;
  margin-top: 20px;
  border: solid 0.1px transparent;
  padding: 0 20px 0 20px;
  height: 184px;
  background-color: $bg-color;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.ticket > li > p {
  margin: 0;
}

.price {
  grid-column: 1 / 3;
  font-size: 24px;
  line-height: 24px;
  color: $blue;
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
}

.attr {
  color: $gray;
  line-height: 18px;
  letter-spacing: 0.5px;
}

.value {
  font-size: 14px;
  line-height: 21px;
}
