$bg-color: #ffffff;
$hover: #f1fcff;
$gray: #4a4a4a;

.sidebar {
  margin-right: 20px;
  width: 232px;
  height: 252px;
  background-color: $bg-color;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.filter {
  display: flex;
  flex-direction: column;
  border: none;
  line-height: 12px;
  letter-spacing: 0.5px;
  margin: 20px 0 0 0;
  padding: 0px;
}

.legend {
  padding-left: 20px;
  line-height: 12px;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 12px;
  color: $gray;
}

.label {
  padding-left: 50px;
  height: 40px;
  display: flex;
  transition: 200ms;
  cursor: pointer;
}

.label:hover {
  background-color: $hover;
}

.box {
  appearance: none;
  position: absolute;
}

.filter + .label {
  margin-top: 20px;
}

.label + .box {
  margin: 0;
}

.label > p {
  margin: 0;
  align-self: center;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
}

.check {
  position: absolute;
  background-image: url(../../img/Checkbox0.svg);
  width: 20px;
  height: 20px;
  margin-left: -30px;
  transform: translateY(50%);
}

.checked {
  position: absolute;
  background-image: url(../../img/Checkbox1.svg);
  width: 20px;
  height: 20px;
  margin-left: -30px;
  transform: translateY(50%);
}
